<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
 <div class="row">
  <div class="col-6 col-md">
   <h5>Company</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">About</a></li>
    <li><a class="text-muted" href="#">Newsroom</a></li>
    <li><a class="text-muted" href="#">Careers</a></li>
   </ul>
  </div>
  <div class="col-6 col-md">
   <h5>Learn</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Workshops</a></li>
    <li><a class="text-muted" href="#">Plans</a></li>
   </ul>
  </div>
  <div class="col-6 col-md">
   <h5>Teach</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">How To</a></li>
    <li><a class="text-muted" href="#">Examples</a></li>
   </ul>
  </div>
  <div class="col-6 col-md">
   <h5>Community</h5>
   <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Blog</a></li>
    <li><a class="text-muted" href="#">Help Desk</a></li>
   </ul>
  </div>
 </div>
 <div class="container">
  <span class="text-muted">Plantoost 2019</span>
 </div>
</footer>

<div>
More stuff!
</div>